<!DOCTYPE html>
<html>

<head>
  <title>Welcome to a simple search list</title>
  <script src="node_modules/vue/dist/vue.js"></script>
  <script src="node_modules/axios/dist/axios.min.js"></script>
  <style media="screen">
    body {
      background-color: rgb(233, 232, 227);
    }

    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td,
    th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    select {

      border: 1px solid #ccc;
      font-size: 16px;
      height: 34px;
      width: 10%;
    }

    .title h1 {
      color: rgb(10, 19, 48);
      text-align: center;
    }

    .important {
      color: red;
    }

    div img {
      width: 25%;
      margin-left: 38%;
    }

    label {
      font: 20px;
      font-weight: bold;
    }

    button {
      border: 1px solid red;
      height: 35px;
    }

    input {
      border: 1px solid #ccc;
      font-size: 16px;
      height: 34px;
      width: 10%;
    }

    tr td {
      margin-left: 50px;
    }
  </style>
</head>

<body>
  <div class="title">
    <h1>Search List</h1>

  </div>

  <div>
    <img class="logo" src="assets/vuejs-logo.png" alt="Vue logo">
  </div>

  <div id="app">
    <div>
      <!-- <input type="text" placeholder="Enter a search item" v-model="item" @keyup.enter="submit" -->
      <!-- /> -->
      <h1>Search</h1>
      <p class="important">
        <i>Please enter a value for age and gender and press search.</i>
      </p>



      <p v-if="errors.length">
        <b>Please correct the following error(s):</b>
        <ul>
          <li v-for="error in errors">{{ error }}</li>
        </ul>
      </p>


      <label for="basic-dropdown">Gender: </label>
      <select v-model="gender" required>
        <option disabled value="">Please select one</option>
        <option>Male</option>
        <option>Female</option>
      </select>

      <label for="basic-dropdown">Age: </label>
      <input type="number" placeholder="age" v-model="age" required/>


      <label for="basic-dropdown">Amount: </label>
      <input type="number" placeholder="$" v-model="amount" required/>



      <label for="basic-dropdown">Smoker?: </label>
      <select v-model="smoke">
        <option disabled value="">Please select one</option>
        <option>Smoker</option>
        <option>Non-smoker</option>
      </select>


      <label for="basic-dropdown">Issued: </label>
      <select v-model="issued">
        <option disabled value="">Please select one</option>
        <option>Standard</option>
        <option>Modified</option>
      </select>


      <button @click="search">Search</button>
      <hr>
      <!-- <table>
        <tr>
          <th>Gender</th>
          <th>Age</th>
          <th>$5000</th>
          <th>$10000</th>
          <th>$15000</th>

        </tr>
        <tr v-for="item in results">
          <td>{{item}}</td>
          <td>{{item.ten}}</td>
          <td>{{item.fifthteen}}</td>
      </table> -->

      <div v-if="aigResults">
        <h1>AIG</h1>
        <table style="width:100%">
          <tr>
            <th>Gender:</th>
            <td>{{gender}}</td>
          </tr>
          <tr>
            <th>Age:</th>
            <td>{{age}}</td>
          </tr>
          <tr>
            <th>Policy Amount:</th>
            <td>${{amount}}</td>
          </tr>
          <tr>
            <th>Price:</th>
            <td>${{aigResults}}</td>
          </tr>
        </table>

      </div>


      <div v-if="philResults">
        <h1>Philadelphia</h1>
        <table style="width:100%">
          <tr>
            <th>Gender:</th>
            <td>{{gender}}</td>
          </tr>
          <tr>
            <th>Age:</th>
            <td>{{age}}</td>
          </tr>
          <tr>
            <th>Policy Amount:</th>
            <td>${{amount}}</td>
          </tr>
          <tr v-if="issued">
            <th>Issued:</th>
            <td>{{issued}}</td>
          </tr>
          <tr v-if="smoke">
            <th>Smoker:</th>
            <td>{{smoke}}</td>
          </tr>
          <tr>
            <th>Price:</th>
            <td>${{philResults}}</td>
          </tr>
          <tr v-if="annualPay">
            <th>Annual Pay:</th>
            <td>${{annualPay}}</td>
          </tr>
          <tr v-if="semiMonthly">
            <th>Semi monthly Pay:</th>
            <td>${{semiMonthly}}</td>
          </tr>
          <tr v-if="monthly">
            <th>Monthly Pay:</th>
            <td>${{monthly}}</td>
          </tr>

        </table>

      </div>


    </div>

  </div>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        item: '',
        searchList: JSON.parse(localStorage.getItem('groceries')) || [],
        groceries: '',
        walmartResults: '',
        policyData: '',
        smoke: '',
        age: '',
        gender: '',
        results: '',
        femaleResults: '',
        issued: '',
        amount: '',
        errors: [],
        philData: '',
        aigResults: '',
        philResults: '',
        annualPay: '',
        semiMonthly: '',
        monthly: ''
      },
      mounted: function () {
        //When the vue is mounted, get dictionary and add it to localstorage
        axios.get('data.json').then(data => {
          localStorage.setItem("dataPolicy", data.data);
          this.policyData = data.data
          console.log('pdaata  ', this.policyData)
          // this.results = this.policyData
        })

        axios.get('phil.json').then(data => {
          localStorage.setItem("philData", data.data);
          this.philData = data.data
          console.log('philData', this.philData)
        })
      },

      methods: {


        search: function () {

          this.errors = [];
          if (!this.age) this.errors.push("Age required.");
          if (!this.gender)
            this.errors.push("Gender required.");
          if (!this.amount) this.errors.push("Amount required.");

          if (this.errors.length) {
            return;
          }
          // e.preventDefault();



          if (this.amount <= 5000) {
            this.amount = 5000
          } else if (this.amount <= 10000) {
            this.amount = 10000
          } else {
            this.amount = 15000
          }

          console.log("amount:: ", this.amount, this.age, this.gender, this.smoke);



          // this.results = this.policyData[this.gender]
          console.log("its 50", this.policyData[this.gender]);
          console.log("its aged....", this.policyData[this.gender][this.age]);
          this.aigResults = this.policyData[this.gender][this.age][this.amount]


          console.log("new results", this.gender, this.smoke, this.age, "result", this.philData[this.issued][this
            .smoke
          ][this.gender][this.age])
          this.philResults = this.philData[this.issued][this.smoke][this.gender][this.age]

          this.monthly = ( (this.amount * this.philResults / 1000) + 35) * .09


        this.semiMonthly = (  (this.amount * this.philResults / 1000) + 35) * .536

        this.annualPay = (this.amount * this.philResults / 1000) + 35


        console.log("Annual PAy", this.monthly, this.semiMonthly, this.annualPay)
        //.for phill

        //monthly
        // (price * amount/1000) + 35 * .09 

        //(((19.91 * 10000)/1000)+35)*.09

        //semi monthly
        // (price * amount/1000) + 35 * .536

        //anually 
        //semi monthly // (price * amount/1000) + 35






      },

      deleteItem: function (item) {
        // this.searchLis
        this.groceries = localStorage.getItem('groceries')
        var index = this.searchList.indexOf(item)
        this.searchList.splice(index, 1);
        console.log("glist", this.searchList)
        localStorage.setItem('groceries', JSON.stringify(this.searchList))


      },
      searchHistory: function (item) {
        //If the word is in the history list then show the definition
        if (this.history.includes(item)) {
          this.results = this.dataFile[item]
        }
      }
    }
    })
  </script>
</body>

</html>