<!DOCTYPE html>
<html>

<head>
  <title>Welcome to a simple search list</title>
  <script src="node_modules/vue/dist/vue.js"></script>
  <script src="node_modules/axios/dist/axios.min.js"></script>
  <style media="screen">
    body {
      background-color: rgb(233, 232, 227);
    }

    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td,
    th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    select {

      border: 1px solid #ccc;
      font-size: 16px;
      height: 34px;
      width: 10%;
    }

    .title h1 {
      color: rgb(10, 19, 48);
      text-align: center;
    }

    .important {
      color: red;
    }

    div img {
      width: 25%;
      margin-left: 38%;
    }

    label {
      font: 20px;
      font-weight: bold;
    }

    button {
      border: 1px solid red;
      height: 35px;
    }

    input {
      border: 1px solid #ccc;
      font-size: 16px;
      height: 34px;
      width: 10%;
    }

    tr td {
      margin-left: 50px;
    }
  </style>
</head>

<body>
  <div class="title">
    <h1>Search List</h1>

  </div>

  <div>
    <img class="logo" src="assets/vuejs-logo.png" alt="Vue logo">
  </div>

  <div id="app">
    <div>
      <!-- <input type="text" placeholder="Enter a search item" v-model="item" @keyup.enter="submit" -->
      <!-- /> -->
      <h1>Search</h1>
      <p class="important">
        <i>Please enter a value for age and gender and press search.</i>
      </p>



      <p v-if="errors.length">
        <b>Please correct the following error(s):</b>
        <ul>
          <li v-for="error in errors">{{ error }}</li>
        </ul>
      </p>


      <label for="basic-dropdown">Gender: </label>
      <select v-model="gender" required class="gender">
        <!-- <option disabled value="">Please select one</option> -->
        <option  selected>Male</option>
        <option >Female</option>
      </select>

      <label for="basic-dropdown">Age: </label>
      <input type="number" class="ageField" placeholder="age" v-model="age" required/>


      <label for="basic-dropdown">Amount: </label>
      <input type="number"  class="amount" placeholder="$" v-model="amount" required/>



      <label for="basic-dropdown">Smoker?: </label>
      <select v-model="smoke" class="smoke">
        <option disabled value="">Please select one</option>
        <option>Smoker</option>
        <option>Non-smoker</option>
      </select>


      <label for="basic-dropdown">Issued: </label>
      <select v-model="issued" class="issued">
        <option disabled value="">Please select one</option>
        <option>Standard</option>
        <option>Modified</option>
      </select>


      <button class="submit" @click="search">Search</button>
      <hr>

      <div v-if="aigResults">
        <h1>AIG</h1>
        <table style="width:100%">
          <tr>
            <th>Gender:</th>
            <td>{{gender}}</td>
          </tr>
          <tr>
            <th>Age:</th>
            <td>{{age}}</td>
          </tr>
          <tr>
            <th>Policy Amount:</th>
            <td>${{amount}}</td>
          </tr>
          <tr>
            <th>Price:</th>
            <td>${{aigResults}}</td>
          </tr>
        </table>

      </div>


      <div v-if="philResults">
        <h1>Philadelphia</h1>
        <table style="width:100%">
          <tr>
            <th>Gender:</th>
            <td>{{gender}}</td>
          </tr>
          <tr>
            <th>Age:</th>
            <td>{{age}}</td>
          </tr>
          <tr>
            <th>Policy Amount:</th>
            <td>${{amount}}</td>
          </tr>
          <tr v-if="issued">
            <th>Issued:</th>
            <td>{{issued}}</td>
          </tr>
          <tr v-if="smoke">
            <th>Smoker:</th>
            <td>{{smoke}}</td>
          </tr>
          <tr>
            <th>PPT:</th>
            <td>${{philResults}}</td>
          </tr>
          <tr v-if="annualPay">
            <th>Annual Pay:</th>
            <td>${{annualPay}}</td>
          </tr>
          <tr v-if="semiAnnually">
            <th>Semi annully Pay:</th>
            <td>${{semiAnnually}}</td>
          </tr>
          <tr v-if="monthly">
            <th>Monthly Pay:</th>
            <td>${{monthly}}</td>
          </tr>

        </table>

      </div>


    </div>

  </div>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        item: '',
        searchList: JSON.parse(localStorage.getItem('groceries')) || [],
        groceries: '',
        walmartResults: '',
        policyData: '',
        smoke: '',
        age: '',
        gender: '',
        results: '',
        femaleResults: '',
        issued: '',
        amount: '',
        errors: [],
        philData: '',
        aigResults: '',
        philResults: '',
        annualPay: '',
        semiAnnually: '',
        monthly: ''
      },
      mounted: function () {
        //When the vue is mounted, get dictionary and add it to localstorage
        axios.get('data.json').then(data => {
          localStorage.setItem("dataPolicy", data.data);
          this.policyData = data.data
          console.log('pdaata  ', this.policyData)
          // this.results = this.policyData
        })

        axios.get('phil.json').then(data => {
          localStorage.setItem("philData", data.data);
          this.philData = data.data
          console.log('philData', this.philData)
        })
      },

      methods: {

      range: function (start, end) { 
        return new Array(end - start).fill().map((d, i) => i + start)
      },


        getAgi: function () {

          this.errors = [];
          if (!this.age) this.errors.push("Age required.");
          if (!this.gender)
            this.errors.push("Gender required.");
          if (!this.amount) this.errors.push("Amount required.");

          if (this.errors.length) {
            return;
          }

          if (this.amount <= 5000) {
            this.amount = 5000
          } else if (this.amount <= 10000) {
            this.amount = 10000
          } else {
            this.amount = 15000
          }
          console.log("AIG:: ", this.amount, this.age, this.gender, this.smoke); //aig // // this.results=t his.policyData[this.gender]
          console.log( "its 50", this.policyData); //
           console.log( "its aged....", this.policyData[this.gender][this.age]);
      
          
          this.aigResults = this.policyData[this.gender][this.age][this.amount]




        },
        getPhil: function () {
          this.errors = [];
          if (!this.age) this.errors.push("Age required.");
          if (!this.gender) this.errors.push("Gender required.");
          if (!this.amount) this.errors.push("Amount required.");
          if (this.errors.length) {
            return;
          }

          // if(this.smoke)
          // console.log("new results", this.gender, this.smoke, this.age, "result", this.philData[this.issued][this
          //   .smoke
          // ][this.gender][this.age])

          this.philResults = this.philData[this.issued][this.smoke][this.gender][this.age]

          this.monthly = ((this.amount * this.philResults / 1000) + 35) * .09
 this.monthly = (Math.round(this.monthly*100)/100);
 this.semiAnnually = Math.round(( ((this.amount * this.philResults / 1000) + 35) * .536), 1)
 this.semiAnnually = (Math.round(this.semiAnnually*100)/100);
//  console.log(result1, "result1");
 
//  console.log(this.semiAnnually.toPrecision(2));

          this.annualPay = (this.amount * this.philResults / 1000) + 35
this.annualPay = (Math.round(this.annualPay*100)/100);

//  console.log(result, "result");
//  console.log(this.annualPay.toPrecision(2));
          
          console.log("Annual PAy", this.monthly, this.semiAnnually, this.annualPay)
          if (this.issued === 'Standard') {
            this.aigResults = ''
          }



        },

        search: function () {

            // this.getAgi()
          // this.errors = [];
          // if (!this.age) this.errors.push("Age required.");
          // if (!this.gender)
          //   this.errors.push("Gender required.");
          // if (!this.amount) this.errors.push("Amount required.");

          // if (this.errors.length) {
          //   return;
          // }
          // e.preventDefault();


          if (this.issued === "Standard") {

            this.getPhil()
            console.log("CALLING PHIl");

          } else {
            this.getAgi()
            this.getPhil()
            
          }
//  console.log("CALLING PHIl and AGI");
            

          // }
          // if (this.amount <= 5000) {
          //   this.amount = 5000
          // } else if (this.amount <= 10000) {
          //   this.amount = 10000
          // } else {
          //   this.amount = 15000
          // }

          // console.log("amount:: ", this.amount, this.age, this.gender, this.smoke);

          //aig

          // // this.results = this.policyData[this.gender]
          // console.log("its 50", this.policyData[this.gender]);
          // console.log("its aged....", this.policyData[this.gender][this.age]);
          // this.aigResults = this.policyData[this.gender][this.age][this.amount]

          //phil
          var maxAge = [76, 77, 78, 79, 80]
 var zeroto75 = this.range(0,75);
 var seven6to80 = this.range(76,80);
 var eithy1to85 = this.range(81,85);
var test2 = ''
//  var testfunc = function numberRange (start, end) { return new Array(end - start).fill().map((d, i) => test2 = i + start); }
// 
 
//  console.log("agre keeys",this.range(1,20), this.range(20,34))
//           var maxAge2 = [81, 82, 83, 84, 85]
 this.age = parseInt(this.age)
          
 if (this.age < 75 && this.issued==="Standard" && this.amount>25000) {
 this.philResults = ''
  alert('Face amount than $25000') 

 } else if (this.age >= 75 && this.age<=80 && this.issued==="Standard" && this.amount > 10000) {
 this.philResults = ''
  alert('Face amount than $10000')
  }
 else if (this.age >= 81 && this.age<=85 && this.issued==="Standard" && this.amount > 5000){
 this.philResults = ''
  alert('Face amount than $5000')
  }
  else{
    this.getPhil();
  }
  // var tease = seven6to80.includes(this.age)
          
//           // console.log()
//  console.log("ifs",tease, typeof tease, seven6to80[0], typeof seven6to80[0], typeof seven6to80, this.issued, typeof this.age, this.amount );
//             // this.age = parseInt(this.age)
//           if (this.issued === "Standard" && maxAge.includes(this.age) && this.amount >10000) {
//             alert('Face amount than $10000')
//             this.philResults = ''
//           }


          

          // if(this.amount > 10000){
          //   alert('Premium greater than $10000 not allowed')
          // }




          // console.log("new results", this.gender, this.smoke, this.age, "result", this.philData[this.issued][this
          //   .smoke
          // ][this.gender][this.age])
          // this.philResults = this.philData[this.issued][this.smoke][this.gender][this.age]

          // this.monthly = ((this.amount * this.philResults / 1000) + 35) * .09

          // this.semiAnnually = ((this.amount * this.philResults / 1000) + 35) * .536

          // this.annualPay = (this.amount * this.philResults / 1000) + 35

          // console.log("Annual PAy", this.monthly, this.semiAnnually, this.annualPay)

          // if (this.issued === 'Standard') {
          //   this.aigResults = ''
          // }

          //Math.round10(55.55, -1); // 55.6

          //.for phill

          //monthly
          // (price * amount/1000) + 35 * .09 

          //(((19.91 * 10000)/1000)+35)*.09

          //semi monthly
          // (price * amount/1000) + 35 * .536

          //anually 
          //semi monthly // (price * amount/1000) + 35






        },

        deleteItem: function (item) {
          // this.searchLis
          this.groceries = localStorage.getItem('groceries')
          var index = this.searchList.indexOf(item)
          this.searchList.splice(index, 1);
          console.log("glist", this.searchList)
          localStorage.setItem('groceries', JSON.stringify(this.searchList))


        },
        searchHistory: function (item) {
          //If the word is in the history list then show the definition
          if (this.history.includes(item)) {
            this.results = this.dataFile[item]
          }
        }
      }
    })
  </script>
</body>

</html>